@model GoodWeebs.Web.ViewModels.SubmissionModels.SubmissionListViewModel
<div class="row">
    <div class="col-md-3">   </div>
    @if (Model.SubmissionsCount == 0)
    {
        <h1>No pending submissions</h1>
    }
    else
    {
<div class="col-md-6">
    <table class="table table-dark table-striped">
        @foreach (var item in Model.Submissions)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.SubmissionType</td>
                <td>
                    @if (item.SubmissionType == "Anime")
                    {
                        <a class="btn-primary text-decoration-none text-white" asp-action="ViewAndEditAnimeSubmission" asp-route-id=@item.Id>View / Edit</a>
                        <a class="btn-danger text-decoration-none text-white" asp-action="RejectAnimeSubmission" asp-route-id="@item.Id">Reject</a>
                    }
                    else if (item.SubmissionType == "Manga")
                    {
                        <a class="btn-primary text-decoration-none text-white" asp-action="ViewAndEditMangaSubmission" asp-route-id=@item.Id>View / Edit</a>
                        <a class="btn-danger text-decoration-none text-white" asp-action="RejectMangaSubmission" asp-route-id="@item.Id">Reject</a>
                    }

                </td>
            </tr>
        }
    </table>
</div>
}
    <div class="col-md-3">   </div>
</div>
