@model GoodWeebs.Web.ViewModels.ShelfViewModels.ShelfViewModel


@if (Model.ShelfItems == null)
{
    <h1>Empty</h1>

}
else
{
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-2 border-right border-light">
            <a class="text-dark text-decoration-none lead" asp-action="Read" asp-route-id=@Model.ProfileId> Read </a>
            <hr />
            <a class="text-dark text-decoration-none lead" asp-action="WantToRead" asp-route-id=@Model.ProfileId> Want To Read </a>
            <hr />
            <a class="text-dark text-decoration-none lead" asp-controller="Users" asp-action="Profile" asp-route-id="@Model.ProfileId"> Profile </a>
        </div>
        <div class="col-md-6">

            <table class="table table-dark table-striped table-hover">
                <tbody>
                <thead class="thead-dark">
                </thead>

                @foreach (var item in Model.ShelfItems)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        @if (Model.MyProfile)
                        {
                            <td>
                                <a asp-action="AddToRead" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-warning">Read</button>
                                </a>
                            </td>
                            <td>
                                <a asp-action="RemoveFromReading" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-warning">Remove</button>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="AddToRead" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-warning">Read</button>
                                </a>
                            </td>

                            <td>

                                <a asp-action="AddToReading" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-warning">Reading</button>
                                </a>
                            </td>
                            <td>

                                <a asp-action="AddToWantToRead" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-warning">Want To Read</button>
                                </a>
                            </td>
                        }
                    </tr>
                }



                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
}