@model GoodWeebs.Web.ViewModels.ShelfViewModels.ShelfViewModel


@if (Model.ShelfItems == null)
{
    <h1>Empty</h1>

}
else
{
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-2 border-right border-light">
            <a class="text-dark text-decoration-none lead" asp-action="Watched" asp-route-id=@Model.ProfileId> Watched </a>
            <hr>
            <a class="text-dark text-decoration-none lead" asp-action="Watching" asp-route-id=@Model.ProfileId> Watching </a>
            <hr>
            <a class="text-dark text-decoration-none lead" asp-controller="Users" asp-action="Profile" asp-route-id=@Model.ProfileId> Profile </a>
        </div>
        <div class="col-md-6">

            <table class="table table-dark table-striped table-hover">
                <tbody>
                <thead class="thead-dark">
                </thead>

                @foreach (var item in Model.ShelfItems)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        <td>
                            <button type="button" asp-action="AddToWatched" asp-route-id="@item.Id" class="btn btn-warning">Watched</button>
                            <button type="button" asp-action="AddToWatching" asp-route-id="@item.Id" class="btn btn-warning">Watching</button>
                            <button type="button" asp-action="RemoveFromWantToWatch" asp-route-id="@item.Id" class="btn btn-warning">Remove</button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
}